extends layout
block content
  .points-header
    .circle-header.cyan-points
    .circle-header.green-points
    .circle-header.purple-points
    .circle-header.pink-points
    .circle-header.yellow-points     
  .header.100.text-center
    img(src="img/logo.png", alt="")  
  .main-explain.100
    .container
      .col-md-2
      .col-md-8
        h1.text-center ¿QUE ESTAS ESPERANDO?
        h3 Forma parte de la más grande escuela de 
         span.blue hackers 
         span en 
         span.green America Latina
        p.text-justify
         strong Dev.F 
         span un gimnasio para tu cerebro, donde ejercitas y desarrollas las habilidades mentales, de trabajo en equipo y técnicas necesarias para ingresar al mundo del software y la tecnología, junto a la comunidad de hackers que está transformando la región.
        p 
         strong Nuestro secreto: 
         span Más que desarrollar tecnología, 
         strong desarrollamos personas.
        .courses-container__buttom ¡APLICA!
      .col-md-2
  .definitions.100
    .container
      div Definitions
  .courses.100
    .container
      div Courses
  .manifest.100
    .container
      div Manifest
  .mentors.100
    .container
      div Mentors
  .senseis.100
    .container
      div Senseis
  .students.100
    .container
      div Students
  .achievements.100
    .container
      div Achievements
  .gallery-foot.100
    .container
      div Gallery foot
  .footer.100
    .container
      .col-md-4
        img(class="medios" src="img/medios.png", alt="")
      .col-md-4
        p ¿Quieres saber mas del Dev.f?
        input(type="text" class="form-control" placeholder="mail")
        p.text-right.suscripcion_btn Suscribirse
      .col-md-4
        p Ignacio Allende #21, Col. Ampliación Torre Blanca, Ciudad de México.
  .signature.100
    .container.text-center
      img(src="img/logo_n.png", alt="")
      span  ·  
      img(src="img/Google_logo.png", alt="")
