extends layout

block content
  .header.100
    .container
      div Header
  .main-explain.100
    .container
      div Main Explain
  .definitions.100
    .container
      div Definitions
  .courses.100
    .container
      div Courses
  .manifest.100
    .container
      div Manifest
  .mentors.100
    .container
      div Mentors
  .senseis.100
    .container
      div Senseis
  .students.100
    .container
      div Students
  .achievements.100
    .container
      div Achievements
  .gallery-foot.100
    .container
      div Gallery foot
  .footer.100
    .container
      div Footer
  .signature.100
    .container
      div Signature
