doctype html
html
  head
    title= "DV"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" )
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  script(src="http://code.jquery.com/jquery-2.1.4.min.js")